html {
    color: white;
    background-color: #151515;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

p{
    font-family: proxima-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}

.p{
    position: absolute;
    float: left;
    bottom: 20%;
    left: 20%;
    font-family: proxima-nova, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}

#text{
    position: absolute;
    float:left;
    top: 20%;
    left: 5%;
}

#play_container{
    position: absolute;
    float:left;
    bottom: 30%;
    left: -20px;
    width: 15%;
    height: auto;
    padding: 10px;
    padding-left: 30px;
    border-radius: 0px 15px 15px 0px;
    background-color: rgba(0, 77, 253, 1);
    box-shadow: 10px 10px rgba(0, 77, 253, 0.7)
}


#select{
    position: absolute;
    float:left;
    bottom: 10%;
    left: -20px;
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 30px;
    border-radius: 0px 15px 15px 0px;
    background-color: rgba(0, 77, 253, 1);
    box-shadow: 10px 10px rgba(0, 77, 253, 0.7)
}
#submit{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

#submitlabel{
    position: absolute;
    float: right;
    bottom: 35%;
    right: 20px;
    z-index:1;
    width:auto;
}

#play{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

#playlabel{
    position: absolute;
    float: left;
    bottom: 20%;
    left: 80%;
    z-index:1;
    width:auto;
}

.bar{
    position: absolute;
    float: left;
    bottom: 0;
    left: 20px;
}

.line{
    position: absolute;
    float: right;
    width: 80%;
    top: 11% ;
    right: 0%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 77, 253, 1);
    background-color: rgba(0, 77, 253, 1);

}


#waterfall{

    position: absolute;
    float: left;
    top: 0px;
    right: 100;
    margin-right: 35%;
    margin-left: 65%;
    width: 20%;
    height: 80%;
    padding: 50px;
    border-radius: 15px;
    background-color: rgba(0, 77, 253, 1);
    box-shadow: 20px 20px rgba(0, 77, 253, 0.7), 40px 40px rgba(0, 77, 253, 0.7) ;
}

#clip {
    position: absolute;
    float: left;
    top: 40%;
    right: -10%;
    border-radius: 15px;
    width: 200%;
    height: auto;
    box-shadow: 10px 10px 50px rgba(0,0,0, 0.8);
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgba(0, 77, 253, 1);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgba(0, 77, 253, 0.7);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.5);
}