<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/hwh1fyz.css">
        <script type="text/javascript" src="../static/js/select.js"></script>
        <title>AVPRG_Projekt</title>
    </head>
    <body>
        <form>
            <input type="submit" id="submit" class="inputfile submit" onclick="check()" formmethod="POST" value="test">
            <label for="submit" class="button submit" value="lable">test</label>
            <div>{{ sound_list | safe}}</div>

        </form>

    </body>
</html>