<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/hwh1fyz.css">

        <title>AVPRG_Projekt</title>
        <!--
        das ist der array-->

        <!--
        <script type="text/javascript">
            window.appConfig = {
                sound_list: {{sounst | safe}}
            };
        </script>
        <!-->-->
        <script type="text/javascript">
            window.appConfig = {
                sound_list: [[[125, 121, 0], [9, 57, 105], [6, 6, 6], [61, 150, 144], [124, 0, 46]], [[57, 50, 0], [13, 56, 49], [1, 1, 0], [0, 13, 55], [48, 0, 14]], [[123, 116, 0], [111, 142, 132], [13, 13, 14], [15, 92, 113], [114, 0, 91]], [[14, 46, 65], [11, 9, 9], [59, 132, 139], [99, 0, 58], [89, 94, 0]], [[12, 9, 8], [59, 126, 134], [97, 0, 57], [13, 44, 63], [91, 97, 0]]]
            };
        </script>

    </head>
    <body>
        <div id="text">
            <p>AVPRG</p>
            <div class="line blue"> </div>
            <h>Inverses Oztaskop</h>
            <p>“Haben sie eine Vorstellung wie schön gute Musik aussieht </p>
            <p>und wie hässlich schlechte Musik ist?” (Dr. Kolibril)</p>
        </div>

        <div id="play_container">
            <br>
            <br>
            <input id='play' type='button' value='Play' disabled>
            <br>
            <p>{{sound_list | safe}}</p>
            <br>
            <div id='message1'>Loading model...</div>

        </div>

        <div id="select">
            <form name="form1" id="form1">
                <input type="submit" id="submit" class="input submit" onclick="check()" formmethod="POST" value="test">
                <label id="submitlabel" for="submit" class="button submit" value="lable">submit</label>


                <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                <div class="custom-select bar" style="width:200px;">
                    <select name="select" formmethod="POST" onchange="document.form1.submit()">
                        <option value="0">Select a Clip:</option>
                        <option value="1">short test</option>
                        <option value="2">Gerri's Game</option>
                        <option value="3">Blade Runner</option>
                        <option value="4">LOTR</option>
                    </select>
                </div>
            </form>

        </div>


        <div id="waterfall">

            <div>
                <video id="clip" controls>
                    <source src=".{{video_path}}" type="video/mp4">
                </video>
            </div>

        </div>
        <script src="../static/src/js/select.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.4"></script>
        <script src="../static/src/js/tonal.min.js"></script>
        <script src="../static/src/js/sequenceGeneration.js"></script>
        <script src="../static/src/js/colorToChord.js"></script>

    </body>
</html>
