<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/hwh1fyz.css">

        <title>AVPRG_Projekt</title>
        <!--
        das ist der array-->


        <script type="text/javascript">
			window.appConfig = {
			    sound_list: {{sound_list | safe}}
			};
		</script>
        <!--
        <script type="text/javascript">
            window.appConfig = {
                sound_list: [[[85, 129, 178], [83, 129, 0], [18, 62, 101], [133, 0, 55], [18, 23, 22]], [[60, 107, 0], [10, 35, 63], [14, 16, 14], [40, 73, 123], [101, 0, 35]]]

            };
        </script>-->

    </head>
    <body>
        <div id="text">
            <p>AVPRG</p>
            <div class="line blue"> </div>
            <h>Inverses Oztaskop</h>
            <p>“Haben sie eine Vorstellung wie schön gute Musik aussieht </p>
            <p>und wie hässlich schlechte Musik ist?” (Dr. Kolibril)</p>
        </div>

        <div id="play_container">
            <br>
            <br>
            <input id='play' type='button' value='Play' disabled>
            <br>
            <p>{{sound_list | safe}}</p>
            <br>
            <div id='message1'>Loading model...</div>

        </div>

        <div id="select">
            <form name="form1" id="form1">
                <input type="submit" id="submit" class="input submit" onclick="check()" formmethod="POST" value="test">
                <label id="submitlabel" for="submit" class="button submit" value="lable">submit</label>


                <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
                <div class="custom-select bar" style="width:200px;">
                    <select name="select" formmethod="POST" onchange="document.form1.submit()">
                        <option value="0">Select a Clip:</option>
                        <option value="1">short test</option>
                        <option value="2">Gerri's Game</option>
                        <option value="3">Blade Runner</option>
                        <option value="4">LOTR</option>
                    </select>
                </div>
            </form>

        </div>


        <div id="waterfall">

            <div>
                <video id="clip" controls>
                    <source src=".{{video_path}}" type="video/mp4">
                </video>
            </div>

        </div>
        <script src="../static/src/js/select.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.4"></script>
        <script src="../static/src/js/tonal.min.js"></script>
        <script src="../static/src/js/sequenceGeneration.js"></script>
        <script src="../static/src/js/colorToChord.js"></script>

    </body>
</html>
